<% include ./partials/header %>
<%
function precision(x)
{
    let m=parseInt(x);
    let n=parseInt(x*100);
    let y;
    y=n-(m*100);
    y=y*0.01;
    m=m+y;
    return m;


}
%>
<div class="container table-container">
    <table class="table">
        <thead>
            <th>Reasons</th>
            <th>Bills</th>
        </thead>
        <tbody>
            <%   for( let i=0; i<bill.name.length;i++) { %>
                <tr>
                    <td><%= bill.name[i] %></td>
                    <td><%=  precision(bill.total[i]) %></td>
                </tr>
            <% } %>
            <tr>
                <td>Worker's total salary</td>
                <td><%=wsum%></td>
            </tr>
            <tr>
                <td>Extra Charges</td>
                <td><%= esum%></td>
            </tr>
            <tr>
                <td>Total Bill</td>
                <td><%=precision(bill.sum+esum+wsum)%></td>
            </tr>
        </tbody>
    </table>
</div>
<% include ./partials/footer %>
