<% include partials/header %>
<div class="container ">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < items.length; ++i) { %>
                <tr>
                    <td><%= items[i].name %></td>
                    <td><%= items[i].rate %></td>
                    <td><%= items[i].qty %></td>
                    <td><%= items[i].price %></td>
                </tr>
            <% } %>
            <tr>
                <td colspan="3">Total Price</td>
                <td><%= total %></td>
            </tr>
        </tbody>
    </table>
    <div style="padding-left:30em;">
        <form action="/finalize" method="POST">
            <button type="submit" class="btn btn-outline-info btn-rounded waves-effect"  >Print</button>
        </form>
    </div>
    
</div>
<% include partials/footer %>
