<% include partials/header %>
<style>
    .table-container {
        max-width: 700px;
    }
   </style>
<div class="container table-container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < items.length; ++i) { %>
                <tr>
                    <td><%= items[i].name %></td>
                    <td><%= items[i].rate %></td>
                    <td><%= items[i].qty %></td>
                    <td><%= items[i].price %></td>
                </tr>
            <% } %>
            <tr>
                <td colspan="3">Total Price</td>
                <td><%= total %></td>
            </tr>
        </tbody>
    </table>

    <form action="/finalize" method="POST">
        <div class="text-center">
            <button type="submit" class="btn btn-outline-info btn-rounded waves-effect"  >Final Bill</button>
        </div>
    </form>


</div>
<% include partials/footer %>
