<% include partials/header %>
<style>
        .table-container {
            max-width: 60%;
        }
       </style>
<div class="container table-container">
    <form action="/itemperday" method="post">
        <table class="table table-hover table-bordered  ">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < rate.length; ++i) { %>
                    <tr>
                        <td class="addtocart"><%= rate[i].dataValues.name %></td>
                        <td>
                            <input type="text" name="item[<%= i %>][id]" value="<%= rate[i].dataValues.id %>" hidden=true>
                            <input type="text" name="item[<%= i %>][qty]" value="0">
                        </td>
                        <td>Rs<%= rate[i].dataValues.price %>/<%= rate[i].dataValues.qtype %></td>
                    </tr>

                <% } %>
            </tbody>
        </table>
        <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" name="password" class="form-control">
                <label for="orangeForm-pass">Your password</label>
         </div>
        <div class="text-center">
            <button class="btn btn-default">Submit</button>
        </div>

</div>
<% include partials/footer %>
