<% include partials/header %>
    <div class="container">
       
            <form action="/itemperday" method="post">
                <table class="centered highlight">
                        <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                </tr>
                              </thead>
                            <tbody>
                                <% for (let i = 0; i < rate.length; ++i) { %>
                                    <tr>
                                        <td class="addtocart"><%= rate[i].dataValues.name %></td>
                                        <td>
                                            <input type="text" name="item[<%= i %>][id]" value="<%= rate[i].dataValues.id %>" hidden=true>
                                            <input type="text" name="item[<%= i %>][qty]" value="0">
                                        </td>
                                        <td>Rs<%= rate[i].dataValues.price %>/<%= rate[i].dataValues.qtype %></td>
                                    </tr>
                                
                                <% } %>
                    </tbody>
                </table>
                <div class="row" style="padding-left:20em;padding-right: 20em;" align="center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                        </button>
                    </div>
                            
            </form>
            <form action="/resetDailyBill" method="post">
                <div class="row" style="padding-left:20em;padding-right: 20em;">   
                    <div class="input-field">
                        <input type="password" name="password">
                        <label for="password">Password</label>
                    </div>
                   
                </div>  
                <div class="row" style="padding-left:20em;padding-right: 20em;" align="center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Reset
                                <i class="material-icons right">delete_sweep</i>
                        </button>
                    </div>

            </form>
       
 </div>
<% include partials/footer %>