<% include partials/header %>
<div class="container myresponsive">
    <form action="/order" method="post" class="order-form">
        <div class="container">
            <div class="md-form">
                <select name="supplierId" class="full-width" required>
                    <option value='none'>Select supplier name</option>
                    <% for (let i = 0; i < supplier.length; ++i) { %>
                        <option value='<%= supplier[i].dataValues.id %>'><%= supplier[i].dataValues.name %>
                        </option>
                    <% } %>
                </select>
            </div>
            <div class="md-form">
                <table style="width: 100%"></table>
            </div>
            <div class="md-form">
                <select id="items" class="full-widthx">
                    <option value="none">Select an item</option>
                    <% for (let i = 0; i < item.length; ++i) { %>
                        <option value='{"itemId": <%= item[i].dataValues.id %>,
                                       "price": <%= item[i].dataValues.price %>}'><%= item[i].dataValues.name %>
                        </option>
                    <% } %>
                </select>
            </div>
            <div class="md-form">
                <i class="fa fa-calendar-minus-o prefix grey-text"></i>
                <input type="text" required id="orangeForm-billno" name="billNo" class="form-control" required />
                <label for="orangeForm-billno">Bill No<span class="asterisk">*</span></label>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" required id="orangeForm-pass" name="password" class="form-control" required />
                <label for="orangeForm-pass">Your password<span class="asterisk">*</span></label>
            </div>
            <div class="text-center">
                <button class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
<% include partials/footer %>
<script type="text/javascript">
 let i = 0;
 let deleted = [];
 $(document).ready(function () {
     $("select#items").change(function () {
         let current = $(this).children(":selected");
         if (current == 'none')
             return 0;
         let currentVal = JSON.parse(current.val());
         let rate = parseFloat(currentVal.price);
         let id = parseFloat(currentVal.itemId);
         $("table").append("<tr><td>" + current.text() + "</td><td>" +
                           "<input hidden='true' type='text' " + "name='item[" + i + "][itemId]' value =" + id + " />" +
                           "<input hidden='true' type='text' name='item[" + i + "][rate]'" + " value='" + rate + "' />" +
                           "<div class='md-form'>" +
                           "<input type='text' required id='orangeForm-"+i+"' name='item[" + i + "][qty]' " + " autocomplete='off' required />" +
                           "<label for='orangeForm-"+i+"'>Quantity</label>" +
                           "</div></td>" +
                           "<td><div class='md-form'>" +
                           "<a class=' remove-btn btn-floating btn-sm btn-danger'>" +
                           "<i class='fa fa-close'></i></a>" +
                           "</div></td></tr>");
         i++;
     })
     $(document).on('click', '.remove-btn', function(e) {
         e.preventDefault();
         $(this).parent().parent().parent().remove();
         $(this).remove();
     })
 });
</script>
