<% include partials/header %>
<style>
 .table-container {
     max-width: 700px;
 }
</style>
<div class="container table-container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < items.length; ++i) { %>
                <tr>
                    <td><%=i+1 %></td>
                    <td><%= items[i].name %></td>
                    <td><%= items[i].rate %></td>
                    <td><%= items[i].qty %></td>
                    <td><%= items[i].price %></td>
                </tr>
            <% } %>
            <tr>
                <td colspan="4">Total Price</td>
                <td><%= total %></td>
            </tr>
        </tbody>
    </table>

    <form action="/finalize" method="post" >

        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-pass" name="password" class="form-control">
            <label for="orangeForm-pass">Your password</label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-info btn-rounded waves-effect"  >Final Bill</button>
        </div>
    </form>


</div>
<% include partials/footer %>
